name: build
on:
  push:
    paths-ignore:
      - 'README.md'
    tags:
      - '**'

jobs:
  buildx:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Get Version
        id: get_version
        uses: battila7/get-version-action@v2.3.0
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2
      - name: Available platforms
        run: echo ${{ steps.buildx.outputs.platforms }}
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUBUNAME }}
          password: ${{ secrets.DOCKERHUBTOKEN }} 
      - name: Run Buildx
        run: |
          docker buildx build --push \
          --tag hvalev/rawgraphs:latest \
          --tag hvalev/rawgraphs:${{ steps.get_version.outputs.version-without-v }} \
          --platform linux/amd64,linux/arm/v7,linux/arm64 .
      - name: Docker Hub Description
        uses: peter-evans/dockerhub-description@v3
        env:
           DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUBUNAME }}
           DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUBPWD }}
           DOCKERHUB_REPOSITORY: hvalev/rawgraphs
